
    <nav class="col-md-2 d-flex flex-column p-3 border-end">
      
        <div class="mb-3 text-center">
          <img src="/images/defaultAvatar.png" alt="Profile Picture" class="rounded-circle bg-secondary text-white mx-auto" style="width: 80px; height: 80px;">
          <h5 class="text-center mt-2"><%= user.firstName %></h5>
        </div>
      <ul class="nav flex-column">
        <li class="nav-item"><a href="/settings/profileSetting" class="nav-link text-dark">Profile Preferences</a></li>
        <li class="nav-item"><a href="/settings/theme" class="nav-link text-dark">Display</a></li>
        <li class="nav-item"><a href="/settings/security" class="nav-link text-dark">Account Security</a></li>
        <li class="nav-item"><a href="/settings/balance" class="nav-link text-dark">Account Balance</a></li>
      </ul>
    </nav>


<!-- 
    <nav
    style="
        background-color: #fdf8f3;
        height: 100vh;
        padding: 20px 0;
        padding-left: 11px;
        border-right: 1px solid #eee;
    "
    class="col-md-2"
>
    <ul class="nav flex-column" style="padding: 0; margin: 0">
        <li class="nav-item">
            <a
                class="nav-link text-center <%= activePage === 'profileSetting' ? 'active' : '' %>"
                href="/user/profileSetting"
                >Profile Preferences</a
            >
        </li>
        <li class="nav-item">
            <a
                class="nav-link text-center <%= activePage === 'theme' ? 'active' : '' %>"
                href="/user/theme"
                >Display</a
            >
        </li>
        <li class="nav-item">
            <a
                class="nav-link text-center <%= activePage === 'security' ? 'active' : '' %>"
                href="/user/security"
                >Account Security</a
            >
        </li>
        <li class="nav-item">
            <a
                class="nav-link text-center <%= activePage === 'balance' ? 'active' : '' %>"
                href="/user/balance"
                >Account Balance</a
            >
        </li>
    </ul>
</nav> -->
